
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos del Cliente</h2>

            <div class="contenido">
                <h2>Datos de Articulos</h2>
                <a th:href="@(/articulo/listado)">Regresar</a>

                <form th:action="(/articulo/guardar)" 
                      method="post" 
                      th:object="${articulo}"> 
                    
                    <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                    <br/>
                    <br/>
                    
                        <label for="descripcion">Descripcion:</label><br/> 
                        <input type="text" name="descripcion" th:field="*{descipcion}" /><br/>
                        
                        <label for="detalle">Detalle</label><br/> 
                        <textarea name="detalle" th:field="*{detalle}" rows="6" cols="50" /><br/>
                        
                        <label for="precio">Precio</label><br/> 
                        <input type="number" name="precio" th:field="*{precio}" /><br/>
                        
                        <label for="existencias">Existencias</label><br/> 
                        <input type="number" name="existencias" th:field="*{existencias}" /><br/>
                        
                        <input type="submit" name="Guardar" value="Guardar" />
                    </form>

                    <footer th:replace="layout/plantilla :: footer"/> 
    </body>
</html>
