<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="/CSS/menu.css" rel="stylesheet" type="text/css"/>
    </head>
        <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de cliente</h2>
            <br/>
            <a th:href="@{/cliente/listado}">Regresar</a>
            <br/>
            <br/>
            <form th:action="@{/cliente/guardar}"
                  method="POST"
                  th:object="${cliente}">

                <input type="hidden" name="idCliente" th:field="*{idCliente}"/>

                <label for="apellidos">Apellidos</label><br/>
                <input type="text" name="apellidos" th:field="*{apellidos}"><br/><br/>

                <input type="submit" name="Buscar" value="Buscar">

            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>

</html>
